################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BrightHR/Shop.Test/obj
/BrightHR/Shop/obj
/BrightHR/.vs/BrightHR/FileContentIndex
/BrightHR/.vs/BrightHR/v17/.suo
/.vs
/BrightHR/Shop.Test/bin/Debug/net7.0
/BrightHR/Shop/bin/Debug/net7.0
/BrightHR/.vs/BrightHR/v17/TestStore/0
